body {
    background-color: #007599;
    font-family: "calibri", sans-serif;
}

#wrapper{
    position: relative;
	width: 1000px;
	height: 700px;
    top: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
	background-color: #DDD;
	border: 2px #000 solid;
	border-radius: 40px;
	box-shadow: 10px 10px 5px #333333;
	padding:20px;
}

#header{
    
    margin-top: -50px;
    
    
}

#header img{
    float: left;
    margin-left: 50px;
}

#header p{
    
    padding-top:10px;
    font-size: 60px;
    text-align: center;
      
}

.menu{
    float: left;
    border: 2px solid #829600;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #A1D8E0;
    text-align: center;
    vertical-align: central;
    

}

.menuItem{    
    border: 1px solid black;
    height: 30px;
    width: 120px;  
    vertical-align:central;    
}

.menuItem a{    
    text-decoration:none; 
}

.menuItem:hover{
    background-color:#829600;
}

.content{
    height: 87%;
    margin-left: 130px;
    width: 845px;
    padding: 10px;
    border: 1px solid #007599;
   
}

.detailHeading{
    width: 100px;
    font-weight: bold;
}

.postTitle{
    font-weight: bold;
}

.altDetailHeading{
    margin-left: 170px;
    width: 100px;
    font-weight: bold;
}

.details{
    margin-left: 40px;
    resize:none;
}

#ResumeUpload{
    background-color: white;
}

#EmployerDetails{
    margin-top: 20px;
}

#InstructorControls{
    margin-top: 20px;
}

.CreateAccount{
    height: 87%;    
    width: 645px;
    padding: 10px; 
    margin-left: 130px;  
}

#companyInfo{
    float:left;
}

#personalInfo{
    float:right;
}

#CreateButton{
    clear:both;
    width:20%;
    margin:auto;
    padding-top: 20px;
}